<div class='p-8 text-center'>
  <h1 class='text-4xl font-bold mb-4'>Welcome to Turfman</h1>
  <p class='mb-8'>Get your yard sorted! Premium turf, expert installation, and more.</p>
  <img src='assets/icons/turfman-logo.png' alt='Turfman Logo' class='mx-auto w-48 mb-8'>
  <div class='flex flex-wrap justify-center gap-4'>
    <a mat-raised-button color='primary' routerLink='/turf-varieties'>Turf Varieties</a>
    <a mat-raised-button color='accent' routerLink='/pricing'>Pricing Guide</a>
    <a mat-raised-button color='primary' routerLink='/shop'>Buy Now</a>
    <a mat-raised-button color='accent' routerLink='/contact'>Contact</a>
  </div>
</div> 